.cards
{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.products{
    text-align: center;
}
.slider-button {
    cursor: pointer;
}
.blogs{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.footer {
    background-color: #0a0000;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer
{
    color:white;
}
.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section a {
    text-decoration: none;

}

.footer-section a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 15px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

